<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Welcome to Get Bodied</h1>
    <div class="m-3">

      <h2>Features</h2>
    </h2>
    <span>
      <ul>
        <li>Create a workout! <a href="/ai_messages">select</a></li>
      </ul>
    </span>
  </div>
</div>
</div>
<h1>Welcome <%= @the_user.username%></h1>

<h3>Lets take a look at your workouts 🦾</h3>

<dl>
  <dt>You have <%= @the_user.ai_messages_count %> Workouts</dt>
</dl>

<table class="table table-bordered">
  <tr>
    <th>
      Workout
    </th>

    <th>
      Created at
    </th>

    <th>
      More info
    </th>
  </tr>
  <tr>
    <td>
      <%= simple_format(@user_workouts.content) %>
    </td>

    <td>
      <%= time_ago_in_words(@user_workouts.created_at) %> ago
    </td>

    <td>
      <a href="/ai_messages/<%= @user_workouts.id %>">
        Show details
      </a>
    </td>
    <td>

    </td>

  </tr>

</table>
