<div>
  <div>
    <h1>
      List of all ai messages
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new ai message
    </h2>

    <form action="/insert_ai_message" method="post">
      <input type="hidden" id="role_box" name="query_role" value="system">

      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content" rows="4"></textarea>
      </div>

      <button>
        Create ai message
      </button>
    </form>
  </div>
</div>

<hr>
<div class="container">
  <div>
    <table class="table table-bordered">
      <tr>
        <th>
          ID
        </th>

        <%# <th>
          Role
        </th> %>

        <th>
          Content
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          More info
        </th>
      </tr>

      <%# <%= messages = @list_of_ai_messages.first.content.inspect % %>

      <% @list_of_ai_messages.each do |an_ai_message| %>
      <tr>
        <td>
          <%= an_ai_message.id %>
        </td>

        <%# <td>
          <%= an_ai_message.role %>
        <%# </td> %>

        <td>
          <%= simple_format an_ai_message.content %>
        </td>

        <td>
          <%= an_ai_message.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_ai_message.created_at) %> ago
        </td>
        <%# <td>
          <%= time_ago_in_words(an_ai_message.updated_at) %> 
        <%# </td> %> 

        <td>
          <a href="/ai_messages/<%= an_ai_message.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
