<div class=container>
  <div>
    <a class="text-white" href="/users/<%= @current_user.id%>">
      Go back
    </a>
  </div>

  <div>
    <a class="text-white" ref="/delete_ai_message/<%= @the_ai_message.id %>">
      Delete workout
    </a>
  </div>

  <dl>
    <dt>
      Here's your workout <%=@the_ai_message.user.username%>
    </dt>

    <dd>
      <% AiMessage.where({ :id => @the_ai_message}).order(:created_at).each do |message| %>
        <dt><%= simple_format(message.content) %></dt>
      <%end%>
    </dd>

    <dt>
      Created at
    </dt>

    <dd>
      <%= time_ago_in_words(@the_ai_message.created_at) %> ago
    </dd>

  </dl>

</div>
<hr>

<div class="container">
  <h2>
    Edit your wokrout
  </h2>

  <form action="/modify_ai_message/<%= @the_ai_message.id %>"  method="post" >
    <div>
      <input type="hidden" id="role_box" name="query_role" value="<%= @the_ai_message.role %>">
    </div>

    <div class="form-floating mb-3">
      <textarea style="height: 400px" class="form-control" aria-label="With textarea" id="message-content">
          <%= @the_ai_message.content %>
        </textarea>
      <label for="message-content">Content</label>
    </div>

    <button type="button" class="btn btn-dark">Update your workout</button>
  </form>

</div>
